.cartContainer {
  position: absolute;
  top: 1%;
  right: 22%;
}
.badge {
  border: 1px solid black;
  font-weight: bold;
  border-radius: 25px;
  background-color: var(--foreground-color);
  color: white;
  width: 10em;
  height: 2.5em;
  position: fixed;
}

.badge:hover {
  background-color: white;
  color: var(--foreground-color);
  cursor: pointer;
}

.cartIconImage {
  height: 2em;
  width: 2em;
}

.btnDiv {
  display: flex;
  justify-content: space-evenly;
}
