.btnContainers {
  margin-top: 5px;
  display: flex;
  justify-content: end;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5%;
}

.labelStyle {
  margin-left: 1%;
}

.firstLine > label {
  margin-right: 1%;
}

.firstLine > input {
  width: 25%;
}

#nameInput::after {
  background-color: darkcyan;
}
.secondLine > label {
  margin-right: 1%;
}

.secondLine > input {
  width: 15%;
}

.cartBtn {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 16px;
  min-height: fit-content;
  max-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-top: 5px;
  margin-right: 5px;
}
.cartBtn:hover,
.cartBtn:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.cartBtn:active {
  opacity: 0.5;
}
