.foodItems {
  display: flex;
  list-style: none;
}
.foodBtn {
  display: flex;
  justify-content: center;
  width: 20em;
  height: fit-content;
  margin: 5px;
  padding-right: 3rem;
  padding-left: rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 14px;
  background-color: white;
  border: 1px solid grey;
}
.foodBtn:hover {
  background-color: #ff4742;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.innerItems {
  list-style: none;
}

.innerItems li {
  margin: 0%;
  padding-bottom: 5px;
}
